@media (max-width: 1400px) {
    .nav-item {
        font-size: 15px;
    }

    #searchBar input {
        width: 220px;
        font-size: 15px;
    }

    .navbar-nav {
        margin-left: -65px;
    }
}

@media (max-width: 1320px) {
    #navbarSupportedContent .navbar-nav .nav-link {
        padding: 5px 20px;
    }
}

@media (max-width: 1260px) {
    .navbar-nav {
        display: none;
        /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    }

    /* Hide the search bar by default on small screens */
    #searchBar {
        margin-top: 17px;
        margin-left: -60px;
    }

    .navbar-nav.show {
        /* dont keep space between .navbar-nav and .show  or else it will not work*/
        display: block;
        position: absolute;
        top: 95px;
        left: 73px;
        right: 0;
        margin-left: -73px;
        z-index: 999;
        overflow: hidden;
        margin-top: -15px;
        padding: 17px 0 42px 0;
        background-color: #232323;
    }

    .hamburger-and-login .fa-bars {
        display: inline-block;
        font-size: 28px;
        cursor: pointer;
        color: black;
    }

    .hamburger-and-login {
        margin-right: 30px;
    }

    .nav-item {
        text-align: center;
        font-size: 16px;
    }

    .login_shopping {
        float: right;
        position: relative;
        top: -50px;
    }

    #navbarSupportedContent {
        display: flex;
        /* justify-content: flex-end;    */
    }

    #navbarSupportedContent .navbar-nav .nav-link {
        padding: 12px 0px;
        color: white;
    }

    .nav-item .nav-link::after {
        display: none;
        /* Remove the underline effect */
    }

    .nav-item .nav-link:hover {
        color: #c13a58 !important;
        font-weight: bold;
        /* Change text color to green on hover */
    }

    #searchBar form button {
        background: #c13a58;
    }
}

@media (max-width: 1120px) {

    .saving_section .detail-box {
        padding: 0;
    }
}

@media (max-width: 992px) {

    .parent-img-box {
        margin-top: 45px;
        padding-left: 0px;
    }

    .custom_nav-container {
        flex-direction: row;
    }

    .slider_section .detail-box {
        padding-right: 0px;
        padding-left: 0;
    }

    .detail-box p {
        margin-top: 35px;
        text-align: center;
    }

    .custom_nav-container .navbar-nav {
        align-items: center;
    }

    #navbarSupportedContent .navbar-nav .nav-link {
        margin: 5px 0;
    }

    .slider_section .detail-box a {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .parent-detail-box1 {
        padding-bottom: 80PX;
        position: relative;
    }

    .slider_section .detail-box h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .slider_section .img-box {
        padding: 0;
    }

    .saving_section .row {
        flex-direction: column-reverse;
    }

    .saving_section .detail-box {

        margin-bottom: 30px;
    }

    .client_section .box {
        margin: 15px 25px;
    }

    .client_section .carousel_btn-box {
        display: flex;
        justify-content: center;
        margin-top: 45px;
    }

    .client_section .carousel-control-prev,
    .client_section .carousel-control-next {
        position: unset;
        margin: 0 2.5px;
        width: 45px;
        height: 45px;
    }

    #testimonial_section {
        padding-bottom: 35px !important;
    }
}

@media (max-width: 768px) {
    .hero_area {
        padding: 0 25px;
    }

    .slider_section .img-box {
        margin-bottom: 45px;
    }

    .saving_section,
    .gift_section {
        padding-left: 25px;
        padding-right: 25px;
    }

    .gift_section .box {
        padding: 45px 0;
    }

    .gift_section .img-box {
        padding: 0 15px;
        margin-bottom: 45px;
    }

    .info_section .row>div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .info_section {
        margin: 0 25px 25px;
    }

}


@media (max-width: 640px) {
    .logo-link img {
        height: 54px;
        top: 14px;
        left: 50px;
    }

    .hamburger-and-login .fa-bars {
        font-size: 22px;
    }

    .hamburger-and-login {
        margin-right: 22px;
    }

    .shopping-bag {
        margin-right: -37px;
    }
}

@media (max-width: 576px) {
    .contact_section {
        padding-left: 25px;
        padding-right: 25px;
    }


    .cart {
        padding-right: 25px !important;
    }

}

@media (max-width: 480px) {

    .saving_section .detail-box,
    .gift_section .detail-box {
        padding: 0 5px;
    }

    .logo-link img {
        left: 10px;
    }

    .login_shopping {
        padding-right: 2px;
        font-size: small;
    }

    .hamburger-and-login {
        margin-right: 12px;
    }

    .detail-img {
        height: 200px;
    }

}

@media (max-width: 420px) {}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}