@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("font-awesome.min.css");

body {
    font-family: "poppins", sans-serif;
    color: #101010;
    background-color: white;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.layout_padding2 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.layout_padding2-top {
    padding-top: 20px;
}

.layout_padding2-bottom {
    padding-bottom: 45px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.heading_container {
    display: flex;
    flex-direction: column;
    /* margin-top: 55px; */
}

.heading_container h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.heading_container h2 span {
    color: #f89cab;
}

.heading_container.heading_center {
    align-items: center;
    text-align: center;
}

.whyUs {
    margin-top: 55px;
}

#whyUs_container {
    padding-top: 25px;
}

/*header section*/

.hero_area.sub_pages {
    height: auto;
}

.logo-link img {
    position: absolute;
    left: 60px;
    top: 7px;
}

#navbarSupportedContent {
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    position: relative;
    display: flex;
    height: 80px;
    align-items: center;
}

.hamburger-and-login .fa-bars {
    display: none;
}

#navbarSupportedContent.innerpage_navbar {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

#navbarSupportedContent.innerpage_navbar .nav-item.active .nav-link {
    background-color: #f4f5f6;
}

#navbarSupportedContent .navbar-nav .nav-link {
    padding: 5px 23px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
}

#navbarSupportedContent .nav-item.active .nav-link {
    background-color: #ffffff;
}

.nav-item .nav-link {
    position: relative;
    display: inline-block;
}

.nav-item .nav-link::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 5px;
    height: 0.5px;
    width: 0;
    background-color: #ffffff;
    transition: all ease 0.5s;
}

.nav-item .nav-link:hover::after,
.nav-item .nav-link.active::after {
    width: 90%;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    box-shadow: none;
}

.navbar-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    /* left: -60px; */
}

#searchBar {
    /* margin-left: 35px; */
    vertical-align: top;
    position: relative;
    left: 30px;
}

#searchInput {
    width: 230px;
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    display: inline-block;
    border: none;
    padding-left: 15px;
    font-size: 17px;
    font-family: "Signika Negative", sans-serif;
    vertical-align: middle;
}

#searchBar input:focus {
    outline: none;
}

.search_button {
    width: 40px;
    height: 40px;
    /* border-radius: 0 20px 20px 0; */
    background: #dfd696;
    display: inline-block;
    margin-left: -22px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

#clearBtn {
    position: absolute;
    right: 50px;
    /* adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.login_shopping a {
    color: black;
    padding: 0 10px;
}

.login_shopping {
    float: right;
    position: relative;
    top: -51px;
    padding-right: 53px;
}

.custom_nav-container {
    padding: 0;
    height: 80px;
    background-color: #c13a58;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #000000;
    margin: 7px 0;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    top: -10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
    top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
    transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    transform: rotate(90deg);
    top: 0;
}

/*end header section*/
.slider_section .slider_container {
    color: #fefefe;
    background-color: #000000;
    padding: 25px;
    margin-top: 80px;
}

.slider_section .row {
    align-items: center;
}

.slider_section .img-box {
    display: flex;
    justify-content: center;
    padding: 45px;
}

.slider_section .img-box img {
    width: 275px;
}

.slider_section .detail-box {
    padding-left: 45px;
    padding-right: 90px;
    margin: 45px 0;
}

.slider_section .detail-box h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.slider_section .detail-box a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #c13a58;
    color: #ffffff;
    border: 1px solid #c13a58;
    border-radius: 5px;
    transition: all 0.3s;
    margin-top: 40px;
    text-transform: uppercase;
}

.slider_section .detail-box a:hover {
    background-color: transparent;
    color: #c13a58;
    transition: ease-in-out 0.3s;
}

.slider_section .carousel_btn-box {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    position: absolute;
    bottom: -25px;
    left: 5%;
    padding: 7px 10px;
    border-radius: 5px 5px 0 0;
}

.slider_section .carousel_btn-box img {
    margin: 0 10px;
}

.slider_section .carousel_btn-box .carousel-control-prev,
.slider_section .carousel_btn-box .carousel-control-next {
    position: unset;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    opacity: 1;
    background-position: center;
    color: #000000;
    font-size: 14px;
}

.shop_section .heading_container {
    margin-bottom: 20px;
}

.shop_section .box {
    background-color: #f5f5f5;
    position: relative;
    padding: 10px;
    margin-top: 25px;
}

#shop_parent_container {
    margin-top: 80px;
}

.shop_section .box a {
    color: #000000;
}

.shop_section .box .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    height: 245px;
}

.shop_section .box .img-box img {
    max-width: 100%;
    max-height: 145px;
}

.details-add-to-cart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add-to-cart {
    background: #c13a58;
    border: none;
    color: white !important;
    text-decoration: none;
    display: inline-block;
    margin-left: 13px;
}

.add-to-cart:hover {
    background: #a32e49;
    /* Change color on hover */
}

.add-to-cart:focus {
    box-shadow: 0 0 0 0.25rem rgba(193, 58, 88, 0.3) !important;
    outline: 0;
}

.shop_section .box .detail-box {
    display: flex;
    justify-content: space-between;
}

.shop_section .box .detail-box h6 span {
    color: #db4f66;
}

.shop_section .box .new {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 15px;
}

.shop_section .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.shop_section .btn-box a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #c13a58;
    color: #ffffff;
    border: 1px solid #c13a58;
    border-radius: 5px;
    transition: all 0.3s;
}

.shop_section .btn-box a:hover {
    background-color: transparent;
    color: #f16179;
    transition: ease-in-out 0.3s;
}

#shop {
    padding-bottom: 0px !important;
}

.saving_section {
    padding-left: 45px;
    padding-right: 45px;
}

.saving_section .box {
    padding-top: 45px;
    background-color: #7fd7eb;
    color: #ffffff;
    border-radius: 15px;
}

.saving_section .row {
    align-items: center;
}

.saving_section .img-box {
    padding: 15px 0 0 25px;
}

.saving_section .img-box img {
    width: 100%;
}

.saving_section .detail-box {
    padding: 0 25px;
}

.saving_section .detail-box p {
    margin-top: 5px;
}

.saving_section .detail-box .btn-box {
    display: flex;
    flex-wrap: wrap;
    margin: 35px -5px 0;
}

.saving_section .detail-box .btn-box a {
    width: 165px;
    text-align: center;
    margin: 5px;
}

.saving_section .detail-box .btn-box .btn1 {
    display: inline-block;
    padding: 10px 0;
    background-color: #109dbd;
    color: #ffffff;
    border: 1px solid #109dbd;
    border-radius: 0;
    transition: all 0.3s;
}

.saving_section .detail-box .btn-box .btn1:hover {
    background-color: transparent;
    color: #109dbd;
}

.saving_section .detail-box .btn-box .btn2 {
    display: inline-block;
    padding: 10px 0;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 0;
    transition: all 0.3s;
}

.saving_section .detail-box .btn-box .btn2:hover {
    background-color: transparent;
    color: #ffffff;
}

.why_section .box {
    text-align: center;
    margin-top: 45px;
    background-color: #f5f5f5;
    padding: 25px;
    border-radius: 5px;
}

.why_section .box .img-box {
    margin-bottom: 15px;
}

.why_section .box .img-box svg {
    width: 55px;
    height: auto;
    fill: #320b57;
}

.gift_section {
    padding-left: 45px;
    padding-right: 45px;
}

.gift_section .box {
    background-color: #6929a5;
    border-radius: 15px;
    color: #ffffff;
}

.gift_section .row {
    align-items: center;
}

.gift_section .img-box {
    padding: 60px 0 60px 25px;
}

.gift_section .img-box img {
    width: 100%;
}

.gift_section .detail-box {
    padding: 0 25px;
}

.gift_section .detail-box p {
    margin-top: 5px;
}

.gift_section .detail-box .btn-box {
    display: flex;
    flex-wrap: wrap;
    margin: 35px -5px 0;
}

.gift_section .detail-box .btn-box a {
    width: 165px;
    text-align: center;
    margin: 5px;
}

.gift_section .detail-box .btn-box .btn1 {
    display: inline-block;
    padding: 10px 0;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    border-radius: 0;
    transition: all 0.3s;
}

.gift_section .detail-box .btn-box .btn1:hover {
    background-color: transparent;
    color: #ffffff;
}

.gift_section .detail-box .btn-box .btn2 {
    display: inline-block;
    padding: 10px 0;
    background-color: #9242dd;
    color: #ffffff;
    border: 1px solid #9242dd;
    border-radius: 0;
    transition: all 0.3s;
}

.gift_section .detail-box .btn-box .btn2:hover {
    background-color: transparent;
    color: #9242dd;
}

/* Testinmonial-section  */

.testimonial-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding-top: 1rem;
    padding-bottom: 90px;
    background-color: #f8f9fa;
}

.testimonial-form-box {
    background-color: #ffffff;
    padding: 1.5rem;
    margin-top: 30px;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.testimonial-form-box h2 {
    font-size: 1.8rem;
    margin-bottom: 13px;
    text-align: center;
    color: #333;
}

#testimonial_section {
    padding-bottom: 75px !important;
}

.testimonial-textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    resize: vertical;
    min-height: 150px;
    transition: border 0.3s ease;
}

.testimonial-textarea:focus {
    border-color: #a32e49;
    outline: none !important;
    border: none;
}

.testimonial-submit-btn {
    background: #c13a58;
    color: #fff;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.testimonial-submit-btn:hover {
    background-color: #a32e49;
}

.testimonial-submit-btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(193, 58, 88, 0.3) !important;
    outline: 0;
}

.star-rating {
    direction: rtl;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
    padding: 0 5px;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #ffc107;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107;
}

.testimonial-rating-display .star {
    color: #ccc;
    /* default color for empty stars */
}

.testimonial-rating-display .star.filled {
    color: #ffd700;
    /* color for filled stars */
}

.testimonial-rating-display .star.empty {
    color: #ccc;
    /* color for empty stars */
}

.testimonial-rating-display {
    direction: rtl;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #c3e6cb;
    border-radius: 0.5rem;
    text-align: center;
}

.contact_section {
    position: relative;
    padding-top: 90px;
    padding-bottom: 18px;
}

.contact_section .container-bg {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    margin-top: 45px;
}

.contact_section .heading_container {
    margin-bottom: 30px;
}

.contact_section .row {
    align-items: stretch;
}

.contact_section form {
    padding-right: 35px;
    padding: 45px 20px;
}

.contact_section input {
    width: 100%;
    border: 1px solid #919191;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: transparent;
    outline: none;
    color: #101010;
}

.contact_section input::-moz-placeholder {
    color: #131313;
}

.contact_section input::placeholder {
    color: #131313;
}

.contact_section input.message-box {
    height: 120px;
}

.contact_section button {
    display: inline-block;
    padding: 12px 45px;
    background-color: #c13a58;
    color: #ffffff;
    border: 1px solid #c13a58;
    border-radius: 0;
    transition: all 0.3s;
    display: block;
    color: #fff;
    margin: 35px auto 0 auto;
}

.contact_section button:hover {
    background-color: transparent;
    color: #c13a58;
    transition: ease-in-out 0.3s;
}

.map_container {
    min-height: 375px;
    width: 100%;
}

.map-responsive {
    height: 100%;
    width: 100%;
}

.map-responsive iframe {
    height: 100% !important;
    width: 100% !important;
}

.message-box:focus {
    box-shadow: 0 0 0 0.25rem rgba(193, 58, 88, 0.3) !important;
    outline: 0;
}
.client_section .heading_container {
    margin-bottom: 20px;
}

.client_section .box {
    margin: 25px 45px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    padding: 25px;
}

.client_section .box .client_info {
    display: flex;
    justify-content: space-between;
}

.client_section .box .client_info .client_name h5 {
    font-weight: 600;
    color: #db4f66;
}

.client_section .box .client_info .client_name h6 {
    margin-bottom: 0;
    color: #bfc0c0;
    font-weight: normal;
    font-size: 15px;
}

.client_section .box .client_info i {
    font-size: 24px;
}

.client_section .box p {
    margin-top: 15px;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
    width: 45px;
    height: 125px;
    background-color: #db4f66;
    opacity: 1;
    font-size: 28px;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
}

.client_section .carousel-control-prev {
    left: 0;
}

.client_section .carousel-control-next {
    right: 0;
}

/* info section */
.info_section {
    position: relative;
    background-color: #232323;
    color: #ffffff;
    margin-top: 8px;
}

.info_section .social_container {
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.info_section .social_container .social_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_section .social_container .social_box a {
    margin: 0 10px;
    color: #ffffff;
    font-size: 24px;
}

.info_section .info_form form input {
    outline: none;
    width: 100%;
    padding: 7px 10px;
}

.info_section .info_form form button {
    padding: 8px 35px;
    outline: none;
    border: none;
    color: #ffffff;
    background: #c13a58;
    border: 1px solid #c13a58;
    margin-top: 15px;
    text-transform: uppercase;
}

.info_section .info_form form button:hover {
    background-color: transparent;
    color: #db4f66;
    transition: ease-in-out 0.3s;
}

.info_section .row > div {
    margin-top: 18px;
}

.info_section a {
    text-transform: none;
}

.info_section h6 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
}

.info_section p {
    color: #cbc9c9;
}

.info_section .info_link-box a {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.info_section .info_link-box a:hover {
    color: #ffffff;
}

.info_section .info_link-box a i {
    color: #ffffff;
    margin-right: 12px;
    font-size: 18px;
}

.info_section .info_link-box a span {
    color: #cbc9c9;
    font-size: 15px;
}

/* end info section */
/* footer section*/
.footer_section {
    margin-top: 20px;
    font-weight: 500;
}

.footer_section p {
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    border-top: 1.5px solid #eeeeee;
    width: 80%;
}

.footer_section a {
    color: #cbc9c9;
}

#facebook:hover {
    color: #1877f2;
    transition: all ease 1s;
}

#tiktok:hover {
    color: #ff0050;
    transition: all ease 1s;
}

#instagram:hover {
    color: #e1306c;
    transition: all ease 1s;
}

#facebook:active {
    transform: scale(1.3);
}

#tiktok:active {
    transform: scale(1.3);
}

#instagram:active {
    transform: scale(1.3);
}

.footerPara1 {
    font-size: 15px;
}

.list-unstyled li a {
    text-decoration: none;
    color: #cbc9c9;
    line-height: 5px;
}

.list-unstyled {
    font-size: 15px;
    cursor: pointer;
    line-height: 32px;
}

.list-unstyled li:hover {
    text-decoration: underline;
}

/* end footer section*/

/* order section  */
.order-tabs .nav-link {
    color: #495057;
    font-weight: 500;
}

.order-tabs .nav-link.active {
    color: #0d6efd;
    border-bottom: 2px solid #0d6efd;
    background: transparent;
}

.order-card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-bottom: 20px;
}

.order-card-header {
    background-color: #f8f9fa;
    padding: 12px 15px;
    border-bottom: 1px solid #dee2e6;
}

.order-item {
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
}

.order-item:last-child {
    border-bottom: none;
}

.order-status {
    font-size: 0.85rem;
    color: #6c757d;
}

.show-options {
    font-size: 0.9rem;
}

.show-select {
    width: auto;
    display: inline-block;
    margin-left: 10px;
}

.product-details-row {
    display: flex;
    align-items: center;
    gap: 40px;
    /* Adjust this value to control the spacing */
}

.product-name {
    flex: 1;
    min-width: 0;
    /* Prevent overflow */
}

.product-price {
    width: 120px;
    text-align: right;
}

.product-qty {
    width: 80px;
    text-align: right;
}

@media (max-width: 768px) {
    .product-details-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .product-price,
    .product-qty {
        text-align: left;
        width: auto;
    }
}

.summary-card p {
    margin-bottom: 7px;
}

.faq-page-container {
    padding-top: 60px !important;
    padding-bottom: 80px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    display: block !important;
}

.faq-wrapper {
    max-width: 850px !important;
    margin: 0 auto !important;
    padding: 0 15px !important;
}

.faq-title {
    color: #212529 !important;
    font-weight: 700 !important;
    font-size: 2rem !important;
    /* Force a standard heading size */
    margin-bottom: 40px !important;
}

.custom-faq .accordion-item {
    border: 1px solid #e0e0e0 !important;
    margin-bottom: 15px !important;
    border-radius: 8px !important;
    overflow: hidden !important;
    background-color: #ffffff !important;
}

.custom-faq .accordion-button {
    /* Forces normal text sizing for the headers */
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    background-color: #ffffff !important;
    color: #333333 !important;
    padding: 1.2rem 1.5rem !important;
    line-height: 1.5 !important;
    border: none !important;
}

.custom-faq .accordion-button:not(.collapsed) {
    background-color: #bc3b53 !important;
    /* Matches your header color */
    color: #ffffff !important;
    box-shadow: none !important;
}

/* Fixes arrow icon color when active */
.custom-faq .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.custom-faq .accordion-body {
    font-size: 0.95rem !important;
    color: #555555 !important;
    line-height: 1.6 !important;
    padding: 1.5rem !important;
    background-color: #fafafa !important;
}

.info-container {
    padding-top: 60px !important;
    padding-bottom: 80px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
